.contacts {
    padding-top: 150px;
    padding-bottom: 150px;
}

.contacts__title {
    font-size: 18px;
    line-height: 24.59px;
}

.contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 24px;
}

.contact {
    width: calc(50% - 52px);
}

.contacts__phone {
    position: relative;;
    font-size: 60px;
    line-height: 60px;
    border-bottom: 1px solid transparent;
    text-decoration: none;
}

.contacts__phone:before {
    position: absolute;
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../resources/miniphone.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.contacts__phone:hover {
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}


@media (max-width: 1199px) {
    .contacts {
        padding-top: 120px;
        padding-bottom: 80px;
    }

    .contact {
        width: calc(50% - 25px);
    }

    .contacts__phone {
        font-size: 45px;
        line-height: 60px;
    }

    .contacts__mail {
        font-size: 45px;
        line-height: 60px;
    }
}

@media (max-width: 767px) {
    .contacts {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .contact {
        width: calc(50% - -110px);
    }

    .contacts__title {
        font-size: 14px;
        line-height: 19.12px;
    }

    .contacts__list {
        flex-direction: column;
        row-gap: 20px;
        margin-top: 20px;
    }

    .contacts__phone {
        font-size: 35px;
        line-height: 45.62px;
    }

    .contacts__phone:before {
        margin-bottom: 20px;
    }

    .contacts__mail {
        font-size: 35px;
        line-height: 45.62px;
    }

    .contacts__mail:before {
        margin-bottom: 20px;
    }
}