.galleryfullscreen {
    height: 717px;
    background-image: url('../resources/poolimage.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
}

.galleryfullscreen p {
    position: absolute;
    bottom: 60px;
    color: #FFFFFF;
    width: 443px;
    font-size: 30.3px;
    line-height: 42px;
    letter-spacing: -1px  
}